 <div class="col-md-4">
                     <div class="computer_img"><img src="{{x.img.url}}"></div>
                     <a href="{% url 'comdetail' x.id %}"> <h4 class="computer_text">{{x.name}}</h4><a/>
                     <div class="computer_text_main">
                        <h4 class="dell_text">{{x.model}}</h4>
                        <h6 class="price_text"><a href="#">${{x.prise}}</a></h6>
                        <h6 class="price_text_1"><a href="#">${{x.prise}}</a></h6>
                     </div>
                     <div class="cart_bt_1"><a href="#">Add To Cart</a></div>
                  </div>